Repository fetchai/cosmos-sdk, pull requests merged in 2023-07, with the labels that each got.

#154 fix: Municipal Inflation: list->map & cli command printout
  docs/core/proto-docs.md
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/mint/v1beta1/query.proto
  x/mint/abci.go
  x/mint/client/cli/query.go
  x/mint/client/rest/grpc_query_test.go
  x/mint/client/testutil/suite.go
  x/mint/keeper/grpc_query.go
  x/mint/simulation/genesis_test.go
  x/mint/types/inflations.go
  x/mint/types/inflations_test.go
  x/mint/types/mint.pb.go
  x/mint/types/minter.go
  x/mint/types/query.pb.go
  x/mint/types/query.pb.gw.go
Labels: C:Simulations, C:CLI, C:x/mint

#155 fix: amend error check
  x/mint/keeper/grpc_query.go
Labels: C:x/mint

#156 fix: Municipal Inflation: cli tests for query with denom
  x/mint/client/testutil/suite.go
Labels: C:CLI, C:x/mint

#159 fix: [WIP] Municipal Inflation determinism(map->list), cache redesign
  docs/core/proto-docs.md
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/mint/v1beta1/query.proto
  x/mint/abci.go
  x/mint/cache/municipal_inflation_cahe.go
  x/mint/client/testutil/suite.go
  x/mint/keeper/grpc_query.go
  x/mint/types/inflations.go
  x/mint/types/inflations_test.go
  x/mint/types/mint.pb.go
  x/mint/types/minter.go
  x/mint/types/query.pb.go
Labels: C:CLI, C:x/mint
