Repository fetchai/cosmos-sdk, pull requests merged in 2023-08, with the labels that each got.

#161 fix: Pruning
  client/pruning/main.go
  store/rootmulti/store.go
Labels: C:CLI

#163 fix: [Cometic] Municipal Inflation Cache - update code comment
  x/mint/cache/municipal_inflation_cahe.go
Labels: C:x/mint

#164 fix: [Cosmetic] Go linting
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
  x/mint/abci.go
  x/mint/cache/municipal_inflation_cahe.go
  x/mint/client/cli/query.go
  x/mint/client/testutil/suite.go
  x/mint/keeper/grpc_query.go
  x/mint/types/inflations.go
Labels: Type: CI, Type: Build, C:CLI, C:x/mint

#165 fix: Municipal Inflation protobuf yaml tag naming
  proto/cosmos/mint/v1beta1/mint.proto
  x/mint/types/mint.pb.go
Labels: C:x/mint

#166 fix: Municipal Inflation: cache redesign atomic + simtest
  Makefile
  x/bank/simulation/genesis.go
  x/bank/simulation/genesis_test.go
  x/mint/cache/municipal_inflation_cahe.go
  x/mint/genesis.go
  x/mint/simulation/genesis.go
  x/mint/types/minter.go
Labels: Type: Build, C:Simulations, C:x/mint, C:x/bank

#167 feat: Municipal Inflation: Handler optimisation
  x/mint/abci.go
  x/mint/module.go
  x/mint/types/inflations.go
  x/mint/types/inflations_test.go
Labels: C:x/mint

#162 feat: Municipal Inflation
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
  baseapp/testutil/buf.lock
  docs/architecture/adr-023-protobuf-naming.md
  docs/core/proto-docs.md
  go.mod
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/mint/v1beta1/query.proto
  x/bank/simulation/genesis.go
  x/bank/simulation/genesis_test.go
  x/mint/abci.go
  x/mint/cache/municipal_inflation_cahe.go
  x/mint/client/cli/query.go
  x/mint/client/rest/grpc_query_test.go
  x/mint/client/testutil/suite.go
  x/mint/genesis.go
  x/mint/keeper/grpc_query.go
  x/mint/keeper/keeper.go
  x/mint/keeper/querier.go
  x/mint/module.go
  x/mint/simulation/decoder_test.go
  x/mint/simulation/genesis.go
  x/mint/simulation/genesis_test.go
  x/mint/types/events.go
  x/mint/types/expected_keepers.go
  x/mint/types/inflations.go
  x/mint/types/inflations_test.go
  x/mint/types/keys.go
  x/mint/types/mint.pb.go
  x/mint/types/minter.go
  x/mint/types/query.pb.go
  x/mint/types/query.pb.gw.go
  x/staking/types/staking.pb.go
Labels: Type: CI, Type: Build, Type: ADR, C:Simulations, C:x/staking, C:CLI, C:x/mint, C:x/bank
